@using Web.ViewModels.Account
@model AccountLoginVM


@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

<div class="mkdf-content-inner">
    <div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle" style="height: 225px;background-color: #fafaf9" data-height="225">
        <div class="mkdf-title-wrapper" style="height: 225px">
            <div class="mkdf-title-inner">
                <div class="mkdf-grid">
                    <h1 class="mkdf-page-title entry-title">My Account</h1>
                    <span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mkdf-container mkdf-default-page-template">
        <div class="mkdf-container-inner clearfix">
            <div class="mkdf-grid-row">
                <div class="mkdf-page-content-holder mkdf-grid-col-12">
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <h2>Login</h2>
                        <form class="woocommerce-form woocommerce-form-login login" method="post"  asp-action="login" asp-controller="account">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="ReturnUrl" type="hidden" value="@returnUrl" />
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" />
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                          
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">LogIn</button>
                            </div>
                            <div>
                                Helede acoount yoxdur? <a asp-action="register" asp-controller="account">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
