@using Web.ViewModels.Product.ProductPhoto
@model ProductPhotoUpdateVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Update  Featured WOrk Component
                        </p>
                        <form  method="post" asp-action="updatephoto" asp-controller="product" asp-route-id="@Model.Id" class="forms-sample">
                            <input type="hidden" asp-for="ProductId" />
                            <div class="form-group">
                                <label asp-for="Order">Order</label>
                                <input class="form-control" asp-for="Order">
                                <span asp-validation-for="Order"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-danger" asp-action="index" asp-controller="product" asp-area="admin"> Cancel</a>
                        </form>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

